{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block page %}Home{% endblock %}

{% block link%}
<ul id="nav-mobile" class="right">
    <li><a href="/logout">Logout</a></li>
</ul>
{% endblock %}

{% block styles%}

    td{
        padding: 2px;
    }

    .collection .collection-item.active{
        background-color: #E53935;
    }
{% endblock %}


{% block content %}
<div class="row">
    <div class="col m3 list-container collection" style="max-height: 88vh;">
        <ul class="collection " id="pokemon_id">
            {% for pokemon in all_pokemon %}
            <li class="collection-item">
                <form class="row" method="POST">
                    <span class="card-title">
                        <a id="poke-{{ pokemon.id }}" class="collection-item {% if pokemon == selected_pokemon %}active white-text{% else %}black-text{% endif %}" href="/app/{{ pokemon.id }}#poke-{{ pokemon.id }}">{{pokemon.name}}</a>
                    </span>
                </form>
            </li>
            {% endfor %}
        </ul>

    </div>
    
    <div class="col m3">

            <p class="text-center">Selected Pokemon</p>

            <div id="pokemon-detail">
                {% if selected_pokemon %}
                <img class="responsive-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ selected_pokemon.id }}.png">
                <br>
                <span class="card-title">
                    <p><b>Name:</b> {{selected_pokemon.name}}</p>
                    <p><b>Type1:</b> {{selected_pokemon.type1}}</p>
                    <p><b>Type2:</b> {{selected_pokemon.type2}}</p>
                    <p><b>Weight:</b> {{selected_pokemon.weight}}kg</p>
                    <p><b>Height:</b> {{selected_pokemon.height}}m</p>
                    {% endif %}

                    {% if selected_pokemon %}

                    <form class="row" action="/pokemon/{{ selected_pokemon.id }}" method="POST">
                        <p><input type="text" name="pokemon_name" id="name" placeholder="New name for the pokemon" style="max-width: 200px;" required></p>
                        <input type="submit" class="white-text btn" value="Capture">
                    </form>
                    {% endif %}
                </span>
                
            </div>

    </div>

    <div class="col m6" >
        <p class="text-center">Your Pokemon</p>
        <table class="responsive-table" id="pokemon-table">
            <!-- Captured pokemon content here -->
            <thead>
                <tr>
                    <th>Pokemon</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- show captured pokemon here with controls to rename and release for each pokemon -->
                {% for pokemon in my_pokemon %}
                    <tr class="collection-item">
                        <form class="row" method="POST">
                            <td>
                                {{pokemon.pokemon.name}}
                            </td>
                            <td>
                                {{pokemon.name}}
                            </td>
                            <td>
                                <input type="text" name="rename_name" id="name" style="max-width: 300px;" required>
                                <input type="submit" class="white-text btn" value="Rename">
                                <input type="submit" class="white-text btn" value="Release">
                                <!--for rename and release-->
                            </td>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>



{% endblock %}